/* I will probably try out styled components once I finish main features so I do not plan to make this any more "production" looking */

.app {
  text-align: center;
  padding: 0;
  margin: 0;
  height:100vh;
  color: rgba(255, 255, 255, 0.9);
  background: linear-gradient(135deg, #2b3658 0%, #523a5b 100%) no-repeat center center fixed; 
  background-size: cover; 
}

.app-logo {
  height: 80px;
  animation: spin 8s infinite linear;
}

@keyframes spin {
  0%  {-webkit-transform: rotate(0deg);}
  100% {-webkit-transform: rotate(360deg);}   
}

.app-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.app-intro {
  font-size: large;
}

.item-list {
  list-style: none;
}

.item-list li {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  width: 20%;
  text-align: left;
  padding: 10px 20px;
  font-weight: 400;
}